.lead__title {
  margin: 0 auto;
  text-align: center;
  width: 720px;
  height: 200px;
  font-family: 'Inter';
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    width: 288px;
    height: 88px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
  }
}
