.place__paragraph {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 484px;
  min-height: 50px;
  color: #ffffff;
  grid-area: paragraph;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  align-self: end;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph {
    width: 456px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    width: 352px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    width: 288px;
    font-size: 16px;
    line-height: 26.08px;
  }
}
