.intro {
  margin: 0 auto;
  padding-top: 92px;
  width: 984px;
  min-height: 429px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: 720px;
    padding-top: 88px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .intro {
    width: 288px;
    padding-top: 64px;
    min-height: 750px;
  }
}
